@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 10px;

}
::-webkit-scrollbar-track
{
  background-color:#BBE1FA;
}
::-webkit-scrollbar-thumb{
  background-color:#0F4C75;
  border-radius:4px ;

}
::-webkit-scrollbar-thumb:hover{
  background-color:#2474b6;
  

}

html, body {
  scroll-behavior: smooth;
}

@layer base{
  body{
    @apply bg-gray-900
  }
  header{
    @apply fixed flex items-center justify-between z-50 w-full  px-6  transition-all lg:px-20 lg:py-8 py-4;
  }

  @layer utilities {
   
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
}
}

