@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  scroll-behavior: smooth;
}

@layer base{
  body{
    @apply bg-gray-900
  }
  header{
    @apply fixed flex items-center justify-between z-50 w-full  px-12 py-6 transition-all lg:px-20 lg:py-8;
  }
  section{
    @apply h-screen 
  }
  @layer utilities {
   
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
}
}

